* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #4e73df, #1cc88a);
}

.container {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.weatherDetails {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid #8ca9ff;
    background-color: #ffffff;
    color: #7a99f8;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #070040d5;
}

.weather-card h3,
.weather-card p {
    margin: 10px 0;
}

